*.pyc
*.pyo
*.egg-info
*.egg
*.db
bin/
parts/
develop-eggs/
dev/
venv/
docker/*.tar.gz
.installed.cfg
.mr.developer.cfg
._*
.DS_Store
*~
*.swp
.cache/
/docs/_build
/opt
/downloads
pytest-report.html
erl_crash.dump
settings-prod.yml
playbook.retry
inventory
lastline.yml
config-prod.json
rulez/