[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "==3.10.1"
pytest-html = "*"
rulez = {git = "https://github.com/morpframework/rulez.git"}
"e1839a8" = {path = ".", extras = ["test"], editable = true}
"pep8" = "*"
pylint = "*"
"autopep8" = "*"
pydocstyle = "*"
morpfw = {editable = true, path = ".", extras = ["test"]}
mypy = "*"

[packages]
pydocstyle = "*"
pytest = "==3.10.1"
pip = "==18.0"
pylint = "*"
pytest-cov = "*"
sphinx = "*"

[requires]
python_version = "3.6"
